body {
  padding: 0;
  margin: 0;
  background-color: #303030;
  color: #f69047;
  font-family: arial;
}

header {
  min-width:100%;
  height: 50px;
  background-color: rgba(246, 144, 71, 0.8);
  position: fixed;
  top: 0;
}

.page-title {
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  vertical-align: middle;
  line-height: 50px;
  font-size: 28px;
}

.chat-wrapper {
  min-width: 100%;
  display: flex;
  position: fixed;
  top: 50px;
  min-height: 100vh;
}

.chat-channels {
  width: 20vw;
  padding: 20px;
  border-right: 1px solid #f69047;
  box-shadow: 0px 0px 3px #f69047;
  display: flex;
  flex-flow: column;
  height: 90vh;
}

.channel-list {
  flex: 1;
}

.add-peer-dialog {
  position: absolute;
  z-index: 100;
  padding: 50px;
  background-color: #111;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
}

.add-peer-dialog input {
  box-sizing: border-box;
}

.full {
  width: 100%;
}

.dialog-elem {
  margin: 16px 0;
}

.channel-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#add-peer-btn {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.add-peer-section {
  bottom: 0;
}

.chat-window {
  width: 80vw;
}

.topic-section {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.topic-selection {
  display: inline-block;
  margin-right: 100px;
}

.set-topic {
  display: inline-block;
}

.my-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid;
}

.type-message {
  width: 75vw;
}

.channel-list {
  list-style-type: none;
}

#app {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.demo-setup {
  width: 75%;
  margin: 0 auto;
}

.demo-setup h1 {
  text-align: center;
  margin-bottom: 15%;
}

.demo-config {
  font-size: 1.2em;
  line-height: 1.2em;
  border: 1px solid #f69047;
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
}

.enc-config-option {
  margin: 10px 0;
}

.std-label {
  display: inline-block;
  margin-right: 10px;
}

.peer-config-label {
  margin-right: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #f0f8ff;
}

.config-label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #f0f8ff;
  text-align: center;
}

.enc-config-label
{
  width: 250px;
  display: inline-block;
  font-weight: bold;
  text-align: right;
  margin-right: 20px;
}

.enc-config-value {
  display: inline-block;
}

.small {
  font-size: 12px;
}

select {
  border: 1px solid #f69047;
  background-color: transparent;
  padding: 3px 10px;
  color: #f69047;
  padding: 9px;
  width: 200px;
}

input {
  border: 1px solid #f69047;
  padding: 10px;
  background-color: transparent;
  color: #f69047;
}

button {
  color: #303030;
  background-color: #f69047;
  padding: 12px;
  border: 1px solid #f69047;
  font-weight: bold;
  cursor: pointer;
}

.action {
  width: 160px;
}

.small-action {
  padding: 4px 10px;
}

button.cancel {
  color: #f69047;
  background-color: transparent;
  float: right;
}

.inline {
  display: inline-block;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

#username {
  margin-top: 50px;
  margin-right: 20px;
  font-weight: bold;
}

label.hide-checkbox input {
  display: none;/* <-- hide the default checkbox */
}
label.hide-checkbox span {/* <-- style the artificial checkbox */
  height: 20px;
  width: 20px;
  border: 1px solid #f69047;
  display: inline-block;
  position: relative;
  background-color: #303030;
  vertical-align:middle;
  margin-left: 6px;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  left: 2px;
  line-height: 20px;
  font-size: 20px;
}

.chat-messages {
  padding: 20px 100px 20px 20px;
}

.pss-message {
  text-align: right;
  margin-bottom: 6px;
}

.msg {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  opacity: 0.6;
}

.msg-recv {
  opacity: 1 !important;
}

.msg-remote {
  color: white;
  background-color: #f69047;
}

.asym-config {
  margin-top: 40px;
}

.sym-config {
  margin-top: 40px;
}

.conn-icon {
  width: 32px;
  border: none;
}
